

footer {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
}

.footer-content {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}

.footer-logo {
  position: fixed;
  left: 0;
  bottom: 0;
  color: #7f7f7f;
  
}
